<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Angular Gridster</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="dist/angular-gridster.min.css" />
    <link rel="stylesheet" href="demo/common/style.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//rawgit.com/sdecima/javascript-detect-element-resize/master/detect-element-resize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <script src="//code.angularjs.org/1.2.15/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



    <script src="src/angular-gridster.js"></script>
    <script src="demo/dashboard/app.js"></script>
    <script src="demo/dashboard/service.js"></script>
    <script src="demo/dashboard/controller.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="RootCtrl">

        <link rel="stylesheet" ng-href="{{ styleUrl }}" />

        <div class="container" ng-view></div>
    </div>
</body>

</html>
