<div class="page-header">
    <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
    <a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
    <a class="pull-right btn btn-warning" ng-click="saveAll()"><i class="glyphicon glyphicon-floppy-disk"></i> Save all</a>
    <h1 style="display: inline-block; width: 200px;">Dashboard</h1>
    <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
    </select>

</div>


<div class="row-fluid" style="width: 150px"  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">
    <div class="span4">
        <h2>
            Heading
        </h2>
        <p>
            {{list1.title}}
             </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>
</div>



<div gridster="gridsterOptions" ng-init="getTables()">
	<ul>

		<li  gridster-item="widget" ng-repeat="widget in dashboards" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable>

			<div class="box" ng-controller="CustomWidgetCtrl">

               <div class="box-header">
					<h3>{{ widget.name }}</h3>
					<div class="box-header-btns pull-right">
                        <a title="Save" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i></a>
						<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<div class="box-content">



                    <div class="row-fluid"  data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">
                        <div class="span4">
                            <h2>
                                Heading
                            </h2>
                            <p>
                                {{list2.title}}
                            </p>
                            <p>
                                <a class="btn" href="#">View details »</a>
                            </p>
                        </div>
                        <div class="span4">
                            <h2>
                                Heading
                            </h2>
                            <p>
                                {{list2.title}}
                            </p>
                            <p>
                                <a class="btn" href="#">View details »</a>
                            </p>
                        </div>
                        <div class="span4">
                            <h2>
                                Heading
                            </h2>
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                            </p>
                            <p>
                                <a class="btn" href="#">View details »</a>
                            </p>
                        </div>
                    </div>






                </div>
			</div>
		</li>
	</ul>
</div>

