.navbar {
    padding: 0 20px;
}
a:hover {
    cursor: pointer;
}
input {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}
.container {
    margin: auto;
    min-width: 1600px;

}
.code-coverage {
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 10px;
}